@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Raleway'),
    local('Raleway-400'),
    url('./raleway-modified-400/raleway-modified-400.woff2') format('woff2'),
    url('./raleway-modified-400/raleway-modified-400.woff') format('woff'),
    url('./raleway-modified-400/raleway-modified-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Raleway SemiBold'),
    local('Raleway-600'),
    url('./raleway-modified-600/raleway-modified-600.woff2') format('woff2'),
    url('./raleway-modified-600/raleway-modified-600.woff') format('woff'),
    url('./raleway-modified-600/raleway-modified-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Raleway Bold'),
    local('Raleway-700'),
    url('./raleway-modified-700/raleway-modified-700.woff2') format('woff2'),
    url('./raleway-modified-700/raleway-modified-700.woff') format('woff'),
    url('./raleway-modified-700/raleway-modified-700.ttf') format('truetype');
}
