<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>     
     <httpProtocol>
          <customHeaders>
             <add name="X-Content-Type-Options" value="nosniff" />
             <add name="X-Frame-Options" value="SAMEORIGIN" />
             <add name="X-Xss-Protection" value="1; mode=block" />
             <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
             <remove name="X-Powered-By" />
             <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
             <add name="Pragma" value="no-cache" />
         </customHeaders>
      </httpProtocol>
      <staticContent>
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension=".md" mimeType="text/plain" />
         <remove fileExtension=".woff" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
         <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="LegacyManualPdfRedirect" stopProcessing="true">
               <match url="^assets/EWRS-Manual\.pdf$" ignoreCase="true" />
               <action type="Redirect" url="/docs/getting-started/introduction" redirectType="Permanent" />
            </rule>
            <rule name="DocsRootToAngular" stopProcessing="true">
               <match url="^docs/?$" />
               <action type="Rewrite" url="/" />
            </rule>
            <rule name="Angular" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>